@import url('https://fonts.googleapis.com/css?family=La+Belle+Aurore|Lobster|Lobster+Two');


/* gloabal */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*p{
  font-family: 'Lobster Two', cursive;
  color: black;
   font-size:1.2rem;
}


.main{
    background:url(../img/computers4.png)center/cover fixed no-repeat;
    height:100vh;
    background-size:100% 100%;
   }

   /* .content h1{
    padding-top:250px;
    text-align: center;
    justify-content: center;
    color:White;
   } */

   

   /* About */
.resize img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  width:80%;
  object-fit:cover;
 }

 .main-text p{
   /* display: block; */
  margin-left:9%;
  margin-right:9%;
  text-align: justify;

 }
 .main-text h5{
  font-family: 'Lobster', cursive;
  font-family: 'Lobster', cursive;
  text-align: justify;

 }

 #project{
   padding: 2rem 0;
}

/* #project h5{
  padding: 1rem;
  margin-left:0.1rem;
} */

/* Exp */
#exp{
  margin: 3rem;
  padding:2rem;
}

 nav{
  background-color:#636e72;
  padding:5px;

}
ul{
  padding: 10px;
  text-align: center;
  opacity: 0.6;

}

li{
  display: inline-block;
  padding: 10px;
  color:white;
}

footer{
  background-color: #636e72;
  align-content: center;
  justify-content: center;
  /* margin: 2rem; */
  /* padding-left:10rem; */
  position: relative;
  }

  footer a{
    color: white;
    padding:auto;
    margin: auto;
  }
